<!DOCTYPE html>

<html>
<head>
  <title>ForFile - All File Options in Rails</title>
  	
  <%= stylesheet_link_tag    "bootstrap" ,:media => "all"%>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all"%>
  <%= stylesheet_link_tag    "doc", :media => "all"%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
  <%= javascript_include_tag "upload" %>
  
  <%= csrf_meta_tags %>

  <script type="text/javascript">
	$(document).ready(function(){

 		$(".new").click(function(e){
			$(".new").fancybox({	
				'titlePosition'		: 'inside',
				'transitionIn'		: '1000',
				'transitionOut'		: '1000'
				})
													
		})	
				
	})
	
 </script>
<%= stylesheet_link_tag    "jquery.fancybox-1.3.4", :media => "all" %>
</head>
<body>

	<div class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
          				<div class="nav-collapse">
					    <ul class="nav pull-left">
						     <li>
								<p class="head">ForFiles <span class="cap">All File Options in Rails</span></p>
						     </li>
					    </ul>
					    <ul class="nav pull-right quick-links">
						      <li class="active">
								<%= link_to 'Home', :controller => "upload" ,:action => "index" %>
						      </li>
						  	<li>
								<%= link_to 'Browse Files', :controller => "upload" ,:action => "readFile" %> </li>
					     </ul>
					 </div>
			</div>
		</div>
	</div>



	
	<div id="main">
		<%= yield %>
	</div>

	<div class="footer">
		<p class="center"><b> &copy;2012 ForFiles</b></p>
	</div>
	
	
</body>
</html>
